<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    
    <title th:text="'Patient: ' + ${patient.firstName} + ' ' + ${patient.lastName}">Details: Nisse Nilsson</title>
</head>
<body>
    <!--Photo by Towfiqu barbhuiya on Unsplash huiya-HftV5Xp2lkI-unsplash.jpg-->        
    <div class="container-fluid d-flex justify-content-center bg-img align-items-center ">                    
        <div class="col col-md-8 col-sm-12">                
            <div class="card shadow">
                <div class="card-header">
                    <div class="nav d-flex justify-content-between align-items-center text-center">
                        <h4 class="m-0" th:text="${patient.firstName + ' ' + patient.lastName}"></h4>
                        <form method="post" th:action="@{/public/logout}">
                            <button class="btn btn-success btn-large" type="submit">Logga Ut</button>
                        </form>
                    </div>                            
                </div>
                <div class="card-body">
                    <div sec:authentication="name"></div>
                    <h4 class="card-subtitle">Patient:</h4>                   
                    <div class="row">
                        <span th:text="|Namn: ${patient.firstName + ' ' + patient.lastName}|">Namn: Nisse Nilsson</span>
                    </div>
                    <div class="row">
                        <span th:text="|Pnr: ${patient.pnr}|">PNR: 197609112456</span>
                    </div>
                    <div class="row">
                        <span th:text="|Födelsedatum: ${patient.birthDate}|">Födelesedatum: 19760911</span>
                    </div>                    
                    <hr>
                    <h4 class="card-subtitle">Kontakt:</h4>
                    <div class="row">
                        <span th:text="|Email: ${patient.contactInfo.email}|">Email: nisse@gmail.com</span>
                    </div>
                    <div class="row">
                        <span>Telefon: <span th:text="${patient.contactInfo.phone.isEmpty()}? 'Ej angivet': ${patient.contactInfo.phone}">0701234567</span></span>
                    </div>
                </div>
                <div class="card-footer">                    
                    <ul class="row nav nav-pills card-header-pills row-cols-1 row-cols-md-3 row-cols-lg-5">
                        <li class="col nav-item">
                            <a class="nav-link active text-center">Hem</a>
                        </li>
                        <li sec:authorize="hasAnyRole('SUPER_ADMIN', 'PATIENT_USER')" class="col nav-item">
                            <a th:href="@{/patients/{id}/update (id = ${patient.id})}" class="nav-link text-center">Uppdatera</a>
                        </li>
                        <li class="col nav-item">
                            <a class="nav-link text-center">Användare</a>
                        </li>
                        <li sec:authorize="hasAnyRole('SUPER_ADMIN', 'PATIENT_USER')" class="col nav-item">
                            <a th:href="@{/patients/{id}/bookings(id = ${patient.id})}" class="nav-link text-center">Bokningar</a>
                        </li>
                        <li sec:authorize="hasRole('PATIENT_USER')" class="col nav-item">
                            <a class="nav-link text-center">Sök tider</a>
                        </li>                       
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>