<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title th:text="'Lokal: ' + ${premises.name}">Document</title>
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <div class="nav d-flex justify-content-between align-items-center text-center">                    
                    <h4 class="m-0" th:text="'Lokal: ' + ${premises.name}">Lokal: Vårdcentral Hälsan</h4>
                    <div class="d-flex gap-2">
                        <a th:href="@{/premises/{id}/update (id=${premises.id})}" class="btn btn-primary">Uppdatera</a>
                        <form>
                            <button class="btn btn-success btn-large" type="submit">Logga Ut</button>
                        </form>
                    </div>    
                </div>
            </div>
            <div class="card-body">                
                <h5 class="card-subtitle mb-2">Adress:</h5>
                <p>
                    <span th:text="|${premises.address.streetAddress}, ${premises.address.zipCode}, ${premises.address.city}|">Storgatan 23, 35238, Växjö</span>
                </p>
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-subtitle">Upplagda tider:</h5>
                    <a th:href="@{/premises/{id}/bookings/create (id=${premises.id})}" class="btn btn-success">Skapa bokning</a>
                </div>
                <div th:if="${premises.bookings == null || premises.bookings.isEmpty()}">
                    <p class="card-text">Det finns för närvarande inga bokningar på denna lokal</p>
                </div>

                <table th:unless="${premises.bookings == null || premises.bookings.isEmpty()}" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Tid</th>
                            <th scope="col">Pris</th>                            
                            <th scope="col">Vaccin</th>
                            <th scope="col">Åtgärder</th>                            
                        </tr>
                    </thead>
                    <tbody th:each="booking : ${premises.bookings}">
                        <tr class="align-middle" th:classappend="${!booking.vacant} ? 'table-success'">
                            <td th:text="${#temporals.format(booking.dateTime, 'yyyy-MM-dd HH:mm')}">2022-03-10 09:00</td>
                            <td th:text="${booking.price} + ' SEK'">0 SEK</td>
                            <td th:text="${booking.vaccineType}">Covid 19</td>
                            <td>
                                <div class="d-flex">
                                    <a th:href="@{/bookings/{id} (id = ${booking.id})}" class="btn btn-info text-white me-2">Visa</a>
                                    <a th:href="@{/bookings/{id}/update (id = ${booking.id})}" class="btn btn-primary me-2">Ändra</a>
                                    <div>
                                        <form th:action="@{/bookings/{id}/delete (id = ${booking.id})}" method="post">
                                            <button class="btn btn-danger" type="submit">Ta bort</button>
                                        </form>
                                    </div>
                                </div>    
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                       
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>